<div class="details">
    <img src="/public/songsAndImg/alternative1.png">
    <h3>{{song.name}}</h3>
    <audio controls>
        <source src="/{{song.audio}}" type="audio/mpeg">
    </audio>
    {{#if hasUser}}
    <div class="buttons">
        {{#if song.isOwner}}
        <i class="fa-solid fa-thumbs-up" id="liked"><span> {{song.likesCount}}</span></i>
        <a href="/songs/{{song._id}}/delete">Delete</a>
        {{else}}
            {{#if song.isLiked}}
            <i class="fa-solid fa-thumbs-up" id="liked"><span> {{song.likesCount}}</span></i>
            {{else}}
            <a href="/songs/{{song._id}}/like" id="like"><i class="fa-solid fa-thumbs-up"></i> {{song.likesCount}}</a>
            {{/if}}
        {{/if}}
    </div>
    {{/if}}
</div>