<div>
    <img src="{{image}}" alt="{{name}}" onerror="this.onerror=null; this.src='/static/images/gaming-banner-for-games-with-glitch-effect-neon-light-on-text-illustration-design-free-vector.jpg'">
    <h1>{{name}}</h1>
    <h3>Category: {{category}}</h3>
    <a href="/games/details/{{_id}}"><button>Details</button></a>
</div>