{{#if isEmpty}}
<h1>No games yet :(</h1>
{{else}}
<h1>All available games</h1>
<div class="catalog-wrapper">
    {{#each data}}
    <div class="catalog-content">
        <img
            src="{{image}}" alt="{{name}}">
        <h1>{{name}}</h1>
        <h3>Category: {{category}}</h3>
        <button><a href="/games/details/{{_id}}">Details</a></button>
    </div>
    {{/each}}
</div>
{{/if}}