<div class="details">
    <h1>{{game.name}}</h1>
    <p>Published by: {{creator}}</p>
    <img src="{{game.image}}" alt="{{game.name}}">
    <div class="category">
        <p>Category: {{game.category}}</p>
        <p>Year: {{game.year}}</p>
        <p>Creator: {{game.creator}}</p>
    </div>
    <p>{{game.description}}</p>
    {{#if game.isUser}}
    {{#if game.isOwner}}
    <div class="likes">
        <i class="fa-solid fa-heart" id="creatorLikes"></i>
        <p>{{game.likes}}</p>
    </div>
    <div class="buttons">
        <button><a href="/games/edit/{{game._id}}">Edit</a></button>
        <button id="delete"><a href="/games/delete/{{game._id}}">Delete</a></button>
    </div>
    <div class="saves">
        <i class="fa-solid fa-bookmark" id="owner-save"></i>
        <p>{{game.savesCount}}</p>
    </div>
    {{else}}
    {{#if game.isLiked}}
    <div class="likes">
        <i class="fa-solid fa-heart" id="creatorLikes"></i>
        <p>{{game.likes}}</p>
    </div>
    {{else}}
    <div class="likes">
        <a href="/games/{{game._id}}/like"><i class="fa-regular fa-heart"></i></a>
        <p>{{game.likes}}</p>
    </div>
    {{/if}}
    {{#if game.isSave}}
    <div class="saves">
        <i class="fa-solid fa-bookmark" id="owner-save"></i>
        <p>{{game.savesCount}}</p>
    </div>
    {{else}}
    <div class="saves">
        <a href="/games/{{game._id}}/save"><i class="fa-regular fa-bookmark"></i></a>
        <p>{{game.savesCount}}</p>
    </div>
    {{/if}}
    {{/if}}
    {{/if}}
</div>
{{#if isHaveUser}}
<section class="comments">
    <details>
        <summary>Comments:<span>{{commentCount}}</span></summary>
        <div class="comment-content">
                <button><a href="/details/{{game._id}}/comment">Comment</a></button>
            {{#if isEmpty}}
            <h3>No comments yet, be the first one!</h3>
            {{else}}
            {{#each game.comments}}
            <div {{#if isYourComment}}class="your-comment" {{/if}}>
                <h3>{{#if isOwner}}<span>@publisher</span>{{/if}} {{username}}</h3>
                {{#if isYourComment}}
                <a href="/comment/{{_id}}/edit"><i class="fa-solid fa-square-pen"></i></a>
                <a href="/comment/{{_id}}/delete"><i class="fa-solid fa-trash"></i></a>
                {{/if}}
                <p>{{content}}</p>
            </div>
            {{/each}}
            {{/if}}
    </details>
</section>
{{/if}}