{{#if isEmpty}}
<h1>No saves yet :(</h1>
{{else}}
<h1>Your saves</h1>
<div class="catalog-wrapper">
    {{#each saves}}
    <div class="catalog-content">
        <img
            src="{{image}}" alt="{{name}}">
        <h1>{{name}}</h1>
        <h3>Category: {{category}}</h3>
        <a href="/games/details/{{_id}}"><button>Details</button></a>
    </div>
    {{/each}}
</div>
{{/if}}